* {
  box-sizing: border-box;
}

body {
  background: #072540;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Inter', sans-serif;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading .logo {
  max-width: 350px;
  padding: 30px 20px;
}
.heading .logo img {
  width: 100%;
}

.quote {
  text-align: center;
  padding: 20px;
  color: #FF8AE2;
  font-family: 'Caveat', cursive;
  font-weight: 300;
  font-size: 2rem;
}

.container-inner {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 20px;
}

.participant {
  color: white;
  background-color: #183D5D;
  border-radius: 1rem;
  padding: 20px;
  margin-bottom: 20px;
}
.participant:last-child {
  margin-bottom: 0;
}
.participant__name {
  color: #93C2DB;
  font-weight: 900;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.participant__college {
  font-size: 0.9rem;
}
